In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [135]:
df = pd.read_csv('df_final_demo.txt')
df2 = pd.read_csv('df_final_web_data_pt_1.txt')
df3 = pd.read_csv('df_final_web_data_pt_2.txt')
df4 = pd.read_csv('df_final_experiment_clients.txt')

df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'df_final_demo.txt'

In [ ]:
df2.head()

In [ ]:
# Retrieving the number of rows and columns in the dataframe
df2.shape

In [ ]:
# Retrieving the number of rows and columns in the dataframe
df3.shape

In [140]:
# Displaying the data types of each column in the dataframe
df2.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [142]:
# Displaying the data types of each column in the dataframe
df3.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [144]:
# Retrieving the unique data types present in the dataframe columns
list(set(df2.dtypes.tolist()))

[dtype('int64'), dtype('O')]

In [146]:
# Retrieving the unique data types present in the dataframe columns
list(set(df2.dtypes.tolist()))

[dtype('int64'), dtype('O')]

In [148]:
# Extracting column names with numerical data types from the dataframe
df2.select_dtypes("number").columns

Index(['client_id'], dtype='object')

In [150]:
# Extracting column names with numerical data types from the dataframe
df3.select_dtypes("number").columns

Index(['client_id'], dtype='object')

In [152]:
# Counting and sorting the unique values for each numerical column in descending order
df2.select_dtypes("number").nunique().sort_values(ascending=False)

client_id    58391
dtype: int64

In [154]:
# Counting and sorting the unique values for each numerical column in descending order
df3.select_dtypes("number").nunique().sort_values(ascending=False)

client_id    67430
dtype: int64

In [156]:
# Separating between discrete and continuous variables, as discrete ones could potentially be treated as categorical.
# Remember to adjust the threshold (in this case, < 20) based on your dataset's specific characteristics and domain knowledge.
potential_categorical_from_numerical = df2.select_dtypes("number").loc[:, df2.select_dtypes("number").nunique() < 20]
potential_categorical_from_numerical

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[343141 rows x 0 columns]

In [158]:
# Separating between discrete and continuous variables, as discrete ones could potentially be treated as categorical.
# Remember to adjust the threshold (in this case, < 20) based on your dataset's specific characteristics and domain knowledge.
potential_categorical_from_numerical = df3.select_dtypes("number").loc[:, df3.select_dtypes("number").nunique() < 20]
potential_categorical_from_numerical

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[412264 rows x 0 columns]

In [160]:
# Retrieving column names with object (typically string) data types from the dataframe
df2.select_dtypes("object").columns

Index(['visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [162]:
# Retrieving column names with object (typically string) data types from the dataframe
df3.select_dtypes("object").columns

Index(['visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [164]:
# Counting and sorting the unique values for each object (string) column in descending order
df2.select_dtypes("object").nunique().sort_values(ascending=False)

date_time       282666
visit_id         75256
visitor_id       62936
process_step         5
dtype: int64

In [165]:
# Checking for missing data
df2.isnull().sum().sort_values(ascending=False)

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [168]:
# Checking for missing data
df2.isnull().sum().sort_values(ascending=False)

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [170]:
# Identifying columns in the dataframe where over 80% of the values are missing
df2.columns[df2.isnull().mean() > 0.8]

Index([], dtype='object')

In [172]:
# Filtering out columns in the dataframe where more than 80% of the values are missing
df2 = df2[df2.columns[df2.isnull().mean() < 0.8]]

In [174]:
df2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [176]:
# Concatenate df2 and df3 vertically 
merged_df_final_web_data = pd.concat([df2, df3], axis=0)
# resets the index to get continuous index after merging
merged_df_final_web_data.reset_index(drop=True, inplace=True)

merged_df_final_web_data.shape

(755405, 5)

In [178]:
# Specify the folder path and file name
folder_path = '/Users/ironhack/Documents/GitHub/Week5 EDA/vanguard-ab-test'  # Replace with your folder path
file_name = 'merged_df_final_web_data.csv'
full_path = f'{folder_path}/{file_name}'

# Export the DataFrame to CSV
merged_df_final_web_data.to_csv(full_path, index=False)  # index=False to avoid writing row indices

print(f'DataFrame exported as CSV to {full_path}')

OSError: Cannot save file into a non-existent directory: '\Users\ironhack\Documents\GitHub\Week5 EDA\vanguard-ab-test'

In [180]:
merged_df_final_web_data.shape

(755405, 5)

In [182]:
df3.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [184]:
# Merge the two DataFrames on 'client_id'
# Use outer join to include all rows from both DataFrames
# Create an indicator column to identify the source of each row
client_old_new_df = pd.merge(merged_df_final_web_data, df4, on='client_id', how='outer', indicator=True)

# Create the 'test' column based on the indicator
client_old_new_df['test'] = client_old_new_df['_merge'].apply(lambda x: 'yes' if x == 'both' else 'no')

# Optionally drops indicator column
client_old_new_df.drop(columns='_merge', inplace=True)

# Display the merged DataFrame with the new 'test' column
client_old_new_df.head()

,client_id,visitor_id,visit_id,process_step,date_time,Variation,test
0,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,NaN,yes
1,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,NaN,yes
2,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,NaN,yes
3,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,NaN,yes
4,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,NaN,yes

In [185]:
client_old_new_df['test'].value_counts()

test
yes    449831
no     305574
Name: count, dtype: int64

In [186]:
# Specify the folder path and file name
folder_path = '/Users/ironhack/Documents/GitHub/Week5 EDA/vanguard-ab-test'  # Replace with your folder path
file_name = 'client_old_new_df'
full_path = f'{folder_path}/{file_name}'

# Export the DataFrame to CSV
client_old_new_df.to_csv(full_path, index=False)  # index=False to avoid writing row indices

print(f'DataFrame exported as CSV to {full_path}')

OSError: Cannot save file into a non-existent directory: '\Users\ironhack\Documents\GitHub\Week5 EDA\vanguard-ab-test'

In [ ]:
df.head()

In [189]:
df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [191]:
df['gendr'].value_counts()
# nan values in gender fill with U and X to U

gendr
U    24125
M    23724
F    22746
Name: count, dtype: int64

In [193]:
df['gendr'].isnull().sum()

0

In [195]:
df['num_accts'].isnull().sum()

0

In [197]:
df['bal'].isnull().sum()

0

In [199]:
df['calls_6_mnth'].isnull().sum()

0

In [201]:
df['client_id'].isnull().sum()

0

In [203]:
df['logons_6_mnth'].isnull().sum()

0

In [57]:
df['clnt_tenure_yr'].isnull().sum()

14

In [59]:
df['clnt_age'].isnull().sum()

15

In [99]:
# replace X into U Unknown
df['gendr'] = df['gendr'].replace('X', 'U')

In [119]:
# Calculate the mean of the 'Age' column, ignoring NaN values
mean_age = df['clnt_age'].mean()
print(f"\nMean Age (excluding NaN): {mean_age}")

# Fill NaN values in the 'Age' column with the calculated mean
df['clnt_age'] = df['clnt_age'].fillna(mean_age)
df.head()

Mean Age (excluding NaN): 46.442240133722414

NameError: name 'new_final_demo' is not defined

In [103]:
df['clnt_age'].isnull().sum()

0

In [105]:
df = df.dropna()

In [107]:
df['gendr'].isnull().sum()

0

In [109]:
df.shape

(70595, 9)

In [111]:
# replace X into U Unknown
df['gendr'] = df['gendr'].replace('X', 'U')

In [113]:
df.shape

(70595, 9)

In [115]:
df['gendr'].unique()

array(['U', 'M', 'F'], dtype=object)

In [121]:
new_final_demo = df

In [131]:
# Specify the folder path and file name
folder_path = '/Users/Michimon/Documents/GitHub/vanguard-ab-test'  # Replace with your folder path
file_name = 'new_final_demo.csv'
full_path = f'{folder_path}/{file_name}'

# Export the DataFrame to CSV
new_final_demo.to_csv(full_path, index=False)  # index=False to avoid writing row indices

print(f'DataFrame exported as CSV to {full_path}')

DataFrame exported as CSV to /Users/Michimon/Documents/GitHub/vanguard-ab-test/new_final_demo.csv

In [239]:
new_final_demo.shape

(70595, 9)

In [251]:
client_old_new_df.tail(20)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,test
755385,9999768,389637884_26725643037,85676722_11636430786_122704,step_1,2017-06-03 18:09:23,NaN,no
755386,9999768,389637884_26725643037,85676722_11636430786_122704,step_2,2017-06-03 18:09:22,NaN,no
755387,9999768,389637884_26725643037,85676722_11636430786_122704,step_3,2017-06-03 18:07:24,NaN,no
755388,9999768,389637884_26725643037,85676722_11636430786_122704,step_2,2017-06-03 18:05:44,NaN,no
755389,9999768,389637884_26725643037,85676722_11636430786_122704,step_1,2017-06-03 18:05:17,NaN,no
755390,9999768,389637884_26725643037,85676722_11636430786_122704,start,2017-06-03 18:05:10,NaN,no
755391,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11,Test,yes
755392,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03,Test,yes
755393,9999839,948322592_28990736246,715530422_68620416793_515645,confirm,2017-03-29 12:13:03,NaN,yes
755394,9999839,948322592_28990736246,715530422_68620416793_515645,step_3,2017-03-29 12:12:28,NaN,yes
755395,9999839,948322592_28990736246,715530422_68620416793_515645,step_2,2017-03-29 12:11:50,NaN,yes
755396,9999839,948322592_28990736246,715530422_68620416793_515645,step_1,2017-03-29 12:11:35,NaN,yes
755397,9999839,948322592_28990736246,715530422_68620416793_515645,start,2017-03-29 12:11:32,NaN,yes
755398,9999839,948322592_28990736246,715530422_68620416793_515645,start,2017-03-29 12:08:55,NaN,yes
755399,9999875,738878760_1556639849,931268933_219402947_599432,confirm,2017-06-01 22:48:39,NaN,no
755400,9999875,738878760_1556639849,931268933_219402947_599432,step_3,2017-06-01 22:44:58,NaN,no
755401,9999875,738878760_1556639849,931268933_219402947_599432,step_2,2017-06-01 22:41:47,NaN,no
755402,9999875,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:41:28,NaN,no
755403,9999875,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:40:08,NaN,no
755404,9999875,738878760_1556639849,931268933_219402947_599432,start,2017-06-01 22:40:01,NaN,no

In [249]:
client169 = client_old_new_df[client_old_new_df['client_id'] == 555]
client169

,client_id,visitor_id,visit_id,process_step,date_time,Variation,test
12,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34,Test,yes
13,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,yes
14,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,yes
15,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,yes
16,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,yes

In [247]:
client169 = new_final_demo[new_final_demo['client_id'] == 555]
client169

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
40126,555,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0