In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [10]:
df = pd.read_csv('df_final_demo.txt')
df2 = pd.read_csv('df_final_web_data_pt_1.txt')
df3 = pd.read_csv('df_final_web_data_pt_2.txt')
df4 = pd.read_csv('df_final_experiment_clients.txt')

df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [13]:
df2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [15]:
# Retrieving the number of rows and columns in the dataframe
df2.shape

(343141, 5)

In [17]:
# Retrieving the number of rows and columns in the dataframe
df3.shape

(412264, 5)

In [19]:
# Displaying the data types of each column in the dataframe
df2.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [21]:
# Displaying the data types of each column in the dataframe
df3.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [23]:
# Retrieving the unique data types present in the dataframe columns
list(set(df2.dtypes.tolist()))

[dtype('O'), dtype('int64')]

In [25]:
# Retrieving the unique data types present in the dataframe columns
list(set(df2.dtypes.tolist()))

[dtype('O'), dtype('int64')]

In [27]:
# Extracting column names with numerical data types from the dataframe
df2.select_dtypes("number").columns

Index(['client_id'], dtype='object')

In [29]:
# Extracting column names with numerical data types from the dataframe
df3.select_dtypes("number").columns

Index(['client_id'], dtype='object')

In [31]:
# Counting and sorting the unique values for each numerical column in descending order
df2.select_dtypes("number").nunique().sort_values(ascending=False)

client_id    58391
dtype: int64

In [33]:
# Counting and sorting the unique values for each numerical column in descending order
df3.select_dtypes("number").nunique().sort_values(ascending=False)

client_id    67430
dtype: int64

In [35]:
# Separating between discrete and continuous variables, as discrete ones could potentially be treated as categorical.
# Remember to adjust the threshold (in this case, < 20) based on your dataset's specific characteristics and domain knowledge.
potential_categorical_from_numerical = df2.select_dtypes("number").loc[:, df2.select_dtypes("number").nunique() < 20]
potential_categorical_from_numerical

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[343141 rows x 0 columns]

In [37]:
# Separating between discrete and continuous variables, as discrete ones could potentially be treated as categorical.
# Remember to adjust the threshold (in this case, < 20) based on your dataset's specific characteristics and domain knowledge.
potential_categorical_from_numerical = df3.select_dtypes("number").loc[:, df3.select_dtypes("number").nunique() < 20]
potential_categorical_from_numerical

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[412264 rows x 0 columns]

In [39]:
# Retrieving column names with object (typically string) data types from the dataframe
df2.select_dtypes("object").columns

Index(['visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [41]:
# Retrieving column names with object (typically string) data types from the dataframe
df3.select_dtypes("object").columns

Index(['visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [43]:
# Counting and sorting the unique values for each object (string) column in descending order
df2.select_dtypes("object").nunique().sort_values(ascending=False)

date_time       282666
visit_id         75256
visitor_id       62936
process_step         5
dtype: int64

In [45]:
# Checking for missing data
df2.isnull().sum().sort_values(ascending=False)

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [47]:
# Checking for missing data
df2.isnull().sum().sort_values(ascending=False)

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [49]:
# Identifying columns in the dataframe where over 80% of the values are missing
df2.columns[df2.isnull().mean() > 0.8]

Index([], dtype='object')

In [51]:
# Filtering out columns in the dataframe where more than 80% of the values are missing
df2 = df2[df2.columns[df2.isnull().mean() < 0.8]]

In [174]:
df2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [53]:
# Concatenate df2 and df3 vertically 
merged_df_final_web_data = pd.concat([df2, df3], axis=0)
# resets the index to get continuous index after merging
merged_df_final_web_data.reset_index(drop=True, inplace=True)

merged_df_final_web_data.shape

(755405, 5)

In [178]:
# Specify the folder path and file name
folder_path = '/Users/ironhack/Documents/GitHub/Week5 EDA/vanguard-ab-test'  # Replace with your folder path
file_name = 'merged_df_final_web_data.csv'
full_path = f'{folder_path}/{file_name}'

# Export the DataFrame to CSV
merged_df_final_web_data.to_csv(full_path, index=False)  # index=False to avoid writing row indices

print(f'DataFrame exported as CSV to {full_path}')

OSError: Cannot save file into a non-existent directory: '\Users\ironhack\Documents\GitHub\Week5 EDA\vanguard-ab-test'

In [180]:
merged_df_final_web_data.shape

(755405, 5)

In [182]:
df3.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [61]:
merged_df_final_web_data.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [149]:
# Merge the two DataFrames on 'client_id'
# Use outer join to include all rows from both DataFrames
# Create an indicator column to identify the source of each row
client_old_new_df = pd.merge(merged_df_final_web_data, df4, on='client_id', how='inner', indicator=True)

# Create the 'test' column based on the indicator
#client_old_new_df['test'] = client_old_new_df['_merge'].apply(lambda x: 'yes' if x == 'both' else 'no')
# Drop rows with null values in any column
#client_old_new_df = client_old_new_df.dropna()

# Optionally drops indicator column
client_old_new_df.drop(columns='_merge', inplace=True)

# Display the merged DataFrame with the new 'test' column
client_old_new_df['Variation'].shape

(449831,)

In [139]:
client_old_new_df['test'].value_counts()

KeyError: 'test'

In [151]:
# Specify the folder path and file name
folder_path = '/Users/Michimon/Documents/GitHub/vanguard-ab-test' # Replace with your folder path
file_name = 'client_old_new_df.csv'
full_path = f'{folder_path}/{file_name}'

# Export the DataFrame to CSV
client_old_new_df.to_csv(full_path, index=False)  # index=False to avoid writing row indices

print(f'DataFrame exported as CSV to {full_path}')

DataFrame exported as CSV to /Users/Michimon/Documents/GitHub/vanguard-ab-test/client_old_new_df.csv

In [ ]:
df.head()

In [189]:
df.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [69]:
df['gendr'].value_counts()
# nan values in gender fill with U and X to U

gendr
U    24122
M    23724
F    22746
X        3
Name: count, dtype: int64

In [71]:
df['gendr'].isnull().sum()

14

In [73]:
df['num_accts'].isnull().sum()

14

In [75]:
df['bal'].isnull().sum()

14

In [77]:
df['calls_6_mnth'].isnull().sum()

14

In [79]:
df['client_id'].isnull().sum()

0

In [81]:
df['logons_6_mnth'].isnull().sum()

14

In [83]:
df['clnt_tenure_yr'].isnull().sum()

14

In [85]:
df['clnt_age'].isnull().sum()

15

In [87]:
# replace X into U Unknown
df['gendr'] = df['gendr'].replace('X', 'U')

In [89]:
# Calculate the mean of the 'Age' column, ignoring NaN values
mean_age = df['clnt_age'].mean()
print(f"\nMean Age (excluding NaN): {mean_age}")

# Fill NaN values in the 'Age' column with the calculated mean
df['clnt_age'] = df['clnt_age'].fillna(mean_age)
df.head()

Mean Age (excluding NaN): 46.442240133722414

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [103]:
df['clnt_age'].isnull().sum()

0

In [105]:
df = df.dropna()

In [107]:
df['gendr'].isnull().sum()

0

In [109]:
df.shape

(70595, 9)

In [91]:
# replace X into U Unknown
df['gendr'] = df['gendr'].replace('X', 'U')

In [93]:
df.shape

(70609, 9)

In [95]:
df['gendr'].unique()

array(['U', 'M', 'F', nan], dtype=object)

In [97]:
new_final_demo = df

In [190]:
# Calculate the mode of the clnt_tenure_yr column
mode_tenure = df['clnt_tenure_yr'].mode()[0]

# Identify rows where clnt_tenure_yr is greater than clnt_age
mask = df['clnt_tenure_yr'] > df['clnt_age']

# Replace values where the condition is true with the mode
df.loc[mask, 'clnt_tenure_yr'] = mode_tenure

1

In [192]:
# Function to categorize age groups
def categorize_age(age):
    if age < 20:
        return 'teen'
    elif 20 <= age <= 60:
        return 'adult'
    else:
        return 'senior'

# Apply the function to create the new 'age_groups' column
df['age_groups'] = df['clnt_age'].apply(categorize_age)
df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,age_groups
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,senior
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0,adult
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0,adult
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0,adult
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0,adult
...,...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0,adult
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0,adult
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0,senior
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0,senior
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0,adult

In [196]:
# Specify the folder path and file name
folder_path = '/Users/Michimon/Documents/GitHub/vanguard-ab-test'  # Replace with your folder path
file_name = 'new_final_demo.csv'
full_path = f'{folder_path}/{file_name}'

# Export the DataFrame to CSV
new_final_demo.to_csv(full_path, index=False)  # index=False to avoid writing row indices

print(f'DataFrame exported as CSV to {full_path}')

DataFrame exported as CSV to /Users/Michimon/Documents/GitHub/vanguard-ab-test/new_final_demo.csv